{% extends 'components/layout.html' %}
{%load static%}
{% block title %}Signup Page{% endblock %}
{% block css %}
<link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="{% static 'signup.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
{% endblock %}
{% block content %}
{% include 'components/nav.html'%}
<form action="" method="post" novalidate>
    {% csrf_token %} 
    <h3>SIGN UP</h3>  
    {{form.as_p}}
    <button type="submit">Sign Up</button>
    <a href="{% url 'login' %}" >i have already account<a class="TextIHave"></span></a>
</form>


{% endblock %}

