{% extends 'components/layout.html' %}
{%load static%}
{% block title %}THAI THAI{% endblock %}
{% block css %}
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="stylesheet" href="{% static 'login.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'login.css' %}">{% endblock %}
{% block content %}
{% include 'components/nav.html'%}
<form action="{%url 'login' %}" method="post">
    {% csrf_token %} 
    <h3>SIGN IN</h3>
    {{form.as_p}}
    <!-- <div class="input-group">
        {{ form.username.label_tag }}
        {{ form.username }}
        {{ form.username.errors }}
    </div>
    <div class="input-group"></div>
        {{ form.password.label_tag }}
        {{ form.password }}
        {{ form.password.errors }}
    </div> -->
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}
    {% endif %}
    <button  type="submit">Log In</button>
    <a href="{% url 'signup' %}" >Create a account</a>
</form>
{% endblock %}

